{% extends "base_login.html" %}
{% block title %}Admin Login{% endblock %}
{% block page %}
<div class="login_signup_card">
    <div class="form_head">Admin Login</div>
    <hr>
    <div class="ls_forms" style="margin-top: 3%; position:relative;">
        <form  action="{{url_for('controller.admin_login')}}" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Enter E-mail: </label>
                <input name="email" class="form-control" type="email" placeholder="example@gmail.com" required>
                <br>
                <label for="password" class="form-label">Enter Password:</label>
                <input name="password" class="form-control" type="password" placeholder="*****" required>
                <br>
                <button type="submit" name="login" class="btn btn-primary">LOGIN</button>
            </div>
        </form>
    </div>
</div>  



{% endblock %}